<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/home.css">
    <title>Recetas</title>
</head>

<body>

    <aside>
        <header>
            <nav>
                <button type="button" id="DiseñoWeb" href="">diseño Web</button>
                <button type="button" id="Back" href="">back</button>
                <button type="button" id="cerrar-Sesión" href="">Cerrar Sesión</button>
            </nav>
        </header>
    </aside>
    <main>
        <h1>proyectos</h1>
       <div>
        <nav>
            <button>Filtrar por nombre</button>
            <button>Filtrar por Dificultad</button>
            <button>Filtrar por Tipo</button>
        </nav>
        <section class="cards" id="contenido">
        </section>
       </div>
    </main>

    <script type="module" src="../../view/public/js/script.js"></script>

</body>

</html>