<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/home.css">
    <title>Recetas</title>
</head>

<body>

    <aside>
        <header>
            <nav>
                <button type="button" id="DiseñoWeb" href="">diseño Web</button>
                <button type="button" id="Back" href="">back</button>
                <button type="button" id="cerrar-Sesión" href="">Cerrar Sesión</button>
            </nav>
        </header>
    </aside>
    <main>
        <h1>proyectos</h1>
       <div>
        <nav>
            <form action="">
                <input placeholder="Nombre Receta" id="Nombre" name="Nombre" type="text">
                <input placeholder="Dificultad Receta" id="Dificultad" name="Dificultad" type="text">
                <input placeholder="Tipo de Receta" id="Tipo" name="Tipo" type="text">
                <button type="button" id="btnFiltrar" >Filtrar</button>
            </form>
            
        </nav>
        <section class="cards" id="contenido">
        </section>
       </div>
    </main>

    <script type="module" src="../../view/public/js/script.js"></script>

</body>

</html>